[[source]]
# Krux Proprietary Software
url = "${KRUX_PIP_PROP_URL}"
verify_ssl = true
name = "kruxprop"

[[source]]
# Krux Free & Open Source Software (FOSS)
url = "${KRUX_PIP_FOSS_URL}"
verify_ssl = true
name = "kruxfoss"

[[source]]
# PyPi Repository
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pystache = "==0.5.4"
kruxstatsd = "==0.3.6"
argparse = "==1.4.0"
lockfile = "==0.12.2"
future = "==0.17.1"
Sphinx = "==1.8.5"

[dev-packages]
coverage = "*"
mock = "*"
nose = "*"
mypy = "*"

[requires]
python_version = "3.6"
